<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>cdn.pxseu.com</title>
		<meta property="og:title" content="cdn.pxseu.com" />
		<!-- <meta property="og:description" content="<%= filePath %>" /> -->
		<meta property="og:url" content="<%= filePath %>" />
		<meta property="theme-color" content="#ffa9ff" />
		<meta property="og:video" content="<%= filePath %>?raw" />
		<meta name="twitter:card" content="player" />
		<meta name="twitter:site" content="pxseu" />
		<meta property="twitter:player" content="<%= filePath %>?iframe" />
		<meta property="twitter:image" content="https://cdn.pxseu.com/cdnLogoMain.png?raw" />
		<meta property="twitter:image:alt" content="Video uploaded from cdn.pxseu.com" />
	</head>
	<body>
		<center>
			<p>please do not use bot useragents because it uses my cpu ty</p>
		</center>
	</body>
</html>
